doctype html
html(lang="no")
	head
		title Silseth Sten
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		// jQuery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		// Styling
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/styles.css")
		// JS
		script(src="js/silseth.js")
		// SlidesJS
		script(src="js/jquery.slides.min.js")
		//- // Typekit
		//- <link rel="stylesheet" href="https://use.typekit.net/oik1thr.css">
			
	body
		section
			.inner
				.content-wrapper
					//- .slideshow
					//- 	img(src="img/001.jpg")
					//- 	img(src="img/002.jpg")
					//- 	img(src="img/003.jpg")
					//- 	a(href="#").slidesjs-previous.slidesjs-navigation back
					//- 	a(href="#").slidesjs-next.slidesjs-navigation next 
					//- 			
							
					.three-boxes
						.box
							.slideshow
								img(src="img/001.jpg")
								img(src="img/002.jpg")
								img(src="img/003.jpg")
								a(href="#").slidesjs-previous.slidesjs-navigation back
								a(href="#").slidesjs-next.slidesjs-navigation next 
						.box
							.slideshow
								img(src="img/001.jpg")
								img(src="img/002.jpg")
								img(src="img/003.jpg")
								a(href="#").slidesjs-previous.slidesjs-navigation back
								a(href="#").slidesjs-next.slidesjs-navigation next 
						.box
							.slideshow
								img(src="img/001.jpg")
								img(src="img/002.jpg")
								img(src="img/003.jpg")
								a(href="#").slidesjs-previous.slidesjs-navigation back
								a(href="#").slidesjs-next.slidesjs-navigation next 
						

			
