doctype html
html(lang="no")
	head
		title Silseth Sten - Om oss
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		// jQuery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		// Styling
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/styles.css")
		// bxSlider
		script(src="js/bxslider/jquery.bxslider.min.js")
		link(href="js/bxslider/jquery.bxslider.css", rel="stylesheet")
		// JS
		script(src="js/silseth.js")
		// Mmenu 
		link(rel="stylesheet", href="lib/js/mmenu/css/jquery.mmenu.css", media="screen and (max-width: 700px)")
		link(rel="stylesheet", href="lib/js/mmenu/extensions/positioning/jquery.mmenu.positioning.css", media="screen and (max-width: 700px)")
		script(src="lib/js/mmenu/js/jquery.mmenu.min.js")
		// imagesloaded plugin
		<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
		// Isotope 
		script(src="js/isotope.pkgd.min.js")
		script(src="js/isotope-custom.js")
		// Typekit
		<script src="https://use.typekit.net/mrh3ute.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>	
	
		
	body#bygningssten
		#site.page_home(canvas="container")
			include includes/menu
			
			section
				.inner
					.content-wrapper
						.text.para-width
							h2 Om oss	
							p.semi-bold Steinindustrien i Eide ble startet av Ivar Rasmussen Eide, og han fikk 
								| i 1936 tildelt Kongens fortjenestemedalje for sin store innsats. I 
								| begynnelsen ble det bearbeidet marmor til forskjellige bygg
								| rundt om i landet. I ca. 1918 begynte man produksjon av gravmonumenter, 
								| noe som har vokst i årene fremover.
							p Ca 40% av Norges totale produksjon av gravminner kommer fra «steinbygda» Eide 
								| på Nordmøre. Gründeren Iver R. Eide satte det hele i gang på begynnelsen av 1900-tallet, 
								| og har etterlat seg et dynamisk miljø av steinbedrifter, der direkte etterkommere og 
								| nyetablerere har latt seg inspirere av hverandre.
							p Totalt 15 steinbedrifter holder til her, og de spenner over et vidt område innen bearbeiding av 
								| naturstein, der fasadestein og gravminner utgjør hovedsatsningsområdene. Vi hos Silseth Sten AS er 
								| fjerde generasjon, og en av fem bedrifter som er direkte etterkommere av Iver R. Eide.
							p Solid erfaring, kombinert med yrkesstolthet, er kvaliteter som vi mener er viktig å legge til grunn ved valg av steinprodusent.
							p Vi bruker kun førsteklasses stein som er beregnet på norske forhold og som bearbeides av dyktige fagfolk
							
						.slideshow
							.slide
								img(src="img/om_oss.jpg")
								p.img-caption Bildetekst til referansebildet... Ciis et int esenis rem quis evelest am, sant od magnia quia endis ut aliquae ptatur? 
									| Occus et min rem nulpa parciis ciligni hitate custiis aped quia sundis eatemque culpa quia pa doluptatur andus maion exerum illit aut voluptatur sero il es.
							.slide
								img(src="img/bygningssten.jpg")
								p.img-caption Bildetekst til referansebildet... Ciis et int esenis rem quis evelest am, sant od magnia quia endis ut aliquae ptatur? 
									| Occus et min rem nulpa parciis ciligni hitate custiis aped quia sundis eatemque culpa quia pa doluptatur andus maion exerum illit aut voluptatur sero il es.


			
			include includes/footer
