#mobilemenu_show(canvas='')
	.logo-wrapper
		a.icon.logo-silseth-sten(href='/') Logo for Silseth Sten
	a(href='#mobilemenu').hamburger.icon Vis meny
#mobilemenu.menu.mm-menu(off-canvas='mobilemenu right shift')
	#menuwrapper
		ul
			li
				a(href='/') Forsiden
			li
				a(href='minnestener.html') Minnestener
			li
				a(href='tilbehor.html') Tilbehør
			li
				a(href='bygningssten.html') Bygningssten
			li
				a(href='om_oss.html') Om oss
nav#menu.large
	.inner
		.upper
			a(href="tel:71299300").phone 71 29 93 00 
			span &vert;
			a(href="mailto:post@silseth-sten.no").mail post@silseth-sten.no
		.lower
			.logo-wrapper
				a.icon.logo-silseth-sten(href='/') Logo for Silseth Sten
			#menuwrapper
				ul
					li
						a(href='/') Forsiden
					li
						a(href='minnestener.html') Minnestener
					li
						a(href='tilbehor.html') Tilbehør
					li
						a(href='bygningssten.html') Bygningssten
					li
						a(href='om_oss.html') Om oss
