doctype html
html(lang="no")
	head
		title Silseth Sten - Tilbehør
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		// jQuery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		// Styling
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/styles.css")
		// bxSlider
		script(src="js/bxslider/jquery.bxslider.min.js")
		link(href="js/bxslider/jquery.bxslider.css", rel="stylesheet")
		// JS
		script(src="js/silseth.js")
		// Mmenu 
		link(rel="stylesheet", href="js/mmenu/css/jquery.mmenu.css", media="screen and (max-width: 700px)")
		link(rel="stylesheet", href="js/mmenu/extensions/positioning/jquery.mmenu.positioning.css", media="screen and (max-width: 700px)")
		script(src="js/mmenu/js/jquery.mmenu.min.js")
		// imagesloaded plugin
		<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
		// Isotope 
		script(src="js/isotope.pkgd.min.js")
		script(src="js/isotope-custom.js")
		// Typekit
		<script src="https://use.typekit.net/mrh3ute.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>	
	
	body#tilbehor
		#site.page_home(canvas="container")
			include includes/menu
			
			section
				.inner
					.content-wrapper
						h2 Bedplater og omramming
						p.para-width Hvorfor velge bedplate... ecte stiundebis abo. Faces sequi cum quis 
							| estiaesci aut rest, nes illenditam quibus dias et optas invellit 
							| es siminveliqui di dolorum facerum et odi res eos et volore pernat 
							| lique sunt dolor as sectio. Rum essitae que id eiur, anihil molorro 
							| con corum quatibus doluptasit vel ium eos ut incil in experep taectin 
							| vernamus doluptur re vero blaut esequ identin conseceprore volendu 
							| ndicia qui a si dolestrum fugia nihicab int accaecti uta nesequati 
							| officium qui tet ex explis mi, aut utamus eum quia.
						
						.sub-section
							h3 Bedplater
							.grid
								.box
									h4.bold Alt.1 - uten hull
									img(src="img/grid_1.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
								.box
									h4.bold Alt.5 - i rundt hull
									img(src="img/grid_2.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
								.box
									h4.bold Alt.8 - i ovalt hull
									img(src="img/grid_3.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
								.box
									h4.bold Alt.9 - buet bedramme
									img(src="img/grid_4.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
								.box
									h4.bold Alt.10 - åpen bue inntil sokkel
									img(src="img/grid_5.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
								.box
									h4.bold Alt.X - beskrivelse
									img(src="img/grid_6.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
							
						.sub-section
							h3 Bedrammer, gravplater, sokkelplater
							.grid
								.box
									h4.bold Alt.X - beskrivelse
									img(src="img/grid_3.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
					
								.box
									h4.bold Alt.X - beskrivelse
									img(src="img/grid_4.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
										
								.box
									h4.bold Alt.X - beskrivelse
									img(src="img/grid_2.png")
									p Hvorfor velge denne typen... Epro doluptatisti blame quo ipsandant. 
										| Berunt quae vel ius, cullore omnim que voluptas nimus eosanim 
										| inveliquamus expernamet quaest asinietur re. 
			section
				.inner
					.content-wrapper
						.two-boxes
							.box
								h2 Bronseutstyr og tilbehør
								p Bronseutstyr og annet tilbehør leveres av våre samarbeidspartnere Strassacker 
									| og Norstein. Se deres nettside for å se utvalget
								p Du kan også prøve ut ulikt tilbehør til din sten via vår stenbygger.
								.btn-group
									a(href="https://www.strassacker.com/en/index").btn Strassacker
									a(href="http://www.norstein.com/").btn Norstein
									a(href="https://stenbygger.silseth-sten.no/").btn Stenbygger
							.box
								.slideshow
									.slide
										img(src="img/stein.jpg")
									.slide 
										img(src="img/grid_1.png")
									.slide
										img(src="img/grid_2.png")
							 
								
								 
								
				
				
			include includes/footer
